.card-notify {
  cursor: pointer;
  width: 100%;
  // opacity: 0.8;
  &:hover {
    background-color: rgb(223, 221, 221) !important;
  }
  .dropdown-list-image {
    position: relative;
    height: 2.5rem;
    width: 2.5rem;
  }
  .dropdown-list-image img {
    height: 2.5rem;
    width: 2.5rem;
  }
  .btn-light {
    color: #2cdd9b;
    background-color: #e5f7f0;
    border-color: #d8f7eb;
  }

  &__unread {
    // opacity: 1;
    font-weight: 500;
  }
}
